*{
    border:1px solid black;
    margin-top:1%;
}
header{
    padding:1%;
    margin-top:0%;
}
.titulo {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 20%;
    gap: 8px 1%;
  }
  .nombre p{
    text-align: center;
    margin-top: 5%;
    margin-left:45%;
    width:15%;
  }
  .albumes {
    margin-top:2.5%;
    width: 100%;
    padding:5%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 25%);
    gap: 8px;
    grid-auto-flow: column;
  
    justify-content: center;
  }